/* Base Files */
@import 'base/normalize';

/*doc
---
title: Buttons
name: button
category: basics
---
basasdasd asdas

```html_example_table
<button class="btn btnDefault">Click</button>

<a class="btn btnDefault" href="trulia.com">Trulia!</a>
```

*/