<!doctype html>
<html>
  <head>
    <title>a brand new styleguide: <%= title %></title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/styleguide.css">
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>
  </head>
  <body>


      <% nameScope = @config['name_scope'] %>

      <% if title.split(nameScope).last %>
      <h1 class="styleguide-headline"><a href="/styleguide">Styleguide</a> - <%= title.split(nameScope).last %></h1>
      <% elsif file_name.include?('index.html') %>
      <h1 class="styleguide-headline"><a href="/styleguide">Styleguide</a> - Home</h1>
      <% end %>


          <!-- Styleguide category navigation-->
          <nav>
              <ul class="styleguide-navigation-category">
                  <% @categories.each do |category, file_name| %>
                      <% if title.split(nameScope).last == category %>
                        <li class="is-active"><a href="<%= file_name %>"><%= category %></a></li>
                      <% else %>
                        <li ><a href="<%= file_name %>"><%= category %></a></li>
                      <% end %>
                  <% end %>
              </ul>
          </nav>

      <div class="styleguide-wrapper">
          <!-- Styleguide module navigation-->
          <ul class="styleguide-navigation-module">
              <% @blocks.each do |b| %>
              <li><a href="#<%= b[:name] %>"><%= b[:title] %></a></li>
              <% end %>
          </ul>

          <!-- Styleguide content -->
          <section class="styleguide-content">
