<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>My Site</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/react.min.js"></script>
    <script src="js/JSXTransformer.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
    <script src="js/jquery.min.js"></script>
</head>
<body>