/*doc
---
title: Colors
name: 01_colors
category: Colors
---
These are colors

```color_example
green-dark,
green,
green-light,
green-lighter
```

*/

.sg-colors-green-dark {
  background-color: #449A88;
}
.sg-colors-green {
  background-color: #72C1B0;
}
.sg-colors-green-light{
  background-color: #65D1C4;
}
.sg-colors-green-lighter{
  background-color: #C5E5DE;
}

[class^="sg-colors"] {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
  border: 1px solid transparent;
  border-radius: 100px;
  float: left;
  margin-left: 20px;
  margin-bottom: 70px;
  > div {
    position: absolute;
    bottom: -50px;
    text-align: center;
    width: 100%;
  }
}
