/* Testcolors */


/*doc
---
title: Buttons
name: button
category: basics
---
basasdasd asdasss  ss asddasd

```html_example_table
<div class="sg-colors-green-dark">Click</div>
<div class="sg-colors-green">Click</div>
<div class="sg-colors-green-light">Click</div>
<div class="sg-colors-green-lighter">Click</div>

```

*/

.sg-colors-green-dark {
  background-color: #449A88;
}
.sg-colors-green {
  background-color: #72C1B0;
}
.sg-colors-green-light{
  background-color: #65D1C4;
}
.sg-colors-green-lighter{
  background-color: #C5E5DE;
}