/* Testcolors */


/*doc
---
title: Buttons
name: button
category: basics
---
basasdasd asdas

```html_example_table
<button class="btn btnDefault">Click</button>

<a class="btn btnDefault" href="trulia.com">Trulia!</a>
```

*/

.sg-colors-green-dark {
  color: #449A88;
}
.sg-colors-green {
  color: #72C1B0;
}
.sg-colors-green-light{
  color: #65D1C4;
}
.sg-colors-green-light{
  color: #C5E5DE;
}