/*doc
---
title: Demo
name: 01_demo
category: demo
---

This is a box

```html_example
<div class="box box--default">
    <p>
        This is a default box
    </p>
</div>
```

*/

.demo {
  border: 1px solid black;
  text-align: center;
  height: 90px;
  color: black;
  padding: 1em;
  margin-bottom: 1em;
  p {
    @include setFontSize($font-size-beta, $lines: 1, $marginTopLines: 1, $marginBottomLines: 0);
  }
}
.demo--default {
  @include shift(2);
  @include span-columns(8);
}
.demo--small {
  @include shift(3);
  @include span-columns(6);
}